body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #1a1f26;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #1a1f26;
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  position: relative;
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(145deg, #3b4652, #2d353f);
  box-shadow: 5px 5px 10px #1a1f26, -5px -5px 10px #4a5a6e;
  font-size: 22px;
  color: #67e6dc;
  cursor: pointer;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.calculator form input:active {
  box-shadow: inset 3px 3px 6px #1a1f26, inset -3px -3px 6px #4a5a6e;
  transform: translateY(2px);
}

.calculator form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.calculator form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

.calculator form input.equal {
  width: 145px;
}

form input.btnOperator {
  color: lightgray;
}
